body
{
    padding: 0%;
    margin: 0%;
    /*background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,9,130,1) 100%);*/
    background-color: #000dff;
    background-image: url(media/Cornered-Stairs.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header
{
    width: 100%;
    position: fixed;
    text-align: center;
    vertical-align: center;
    background: linear-gradient(0deg, rgba(0,0,102,1) 20%, rgba(34,61,195,1) 100%);
    z-index: 100;
}

#contenuto
{
    height: fit-content;
}

.paragrafo
{
    color: white;
    font-size: 2.5vw;
    text-align: center;
    font-family: Calibri;
}

.colophon
{
    display: flex;
    background-color:rgb(58, 58, 58);
    height: fit-content;
}

#colophon
{
    display: inline;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: fit-content;
    margin: auto;
    font-size: 1vw;
}

h1
{
    display:inline-flex;
    align-content: center;
    color: white;
    font-family: Calibri;
    font-size: 2vmax;
    align-content: center;
}

hgroup
{
    display: inline-flex;
}

img
{
    vertical-align:-50%;
}

.spaziatore
{
    height: 7vw;
}

#videoricerche
{
    margin-top: 80px;
    filter: brightness(50%);
}

#testoimg
{
    font-size: 2vw;
    position: absolute;
    z-index: 90;
    top: 80px;
    color: rgb(255, 187, 0);
    text-align: center;
    padding-top: 15%;
    width: 50%;
    height: fit-content;
    margin: 0px;
    font-family: Calibri;
    padding-left: 25%;
    padding-right: 25%;
}

#jackson
{
    grid-gap: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#testo-Jackson
{
    width: 75%;
    height: 85%;
    margin: 0px;
    background-image: url(media/contenitore-testo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #000000;
    font-size: 2vw;
    text-align: justify;
    direction: rtl;
    padding-top: 15%;
    padding-left: 20%;
    padding-right: 5%;
}

#img-jackson
{
    width: 100%;
    padding-top: 5%;
}

#Anatre
{
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
}

#div-testo-anatre
{
    grid-row: 1/3;
}

#testo-anatre
{
    width: 75%;
    height: 85%;
    margin: 0px;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 20%;
    font-size: 2vw;
    color: #000000;
    background-image: url(media/contenitore-testo-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: justify;
    text-justify: left;
}

#video-anatre-prova
{
    width: 100%;
    z-index: 40;
    margin-top: 0%;
}

#video-anatre
{
    width: 100%;
    z-index: 50;
    margin-top: 0%;
}

#Musulmana
{
    grid-gap: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#img-musulmana
{
    width: 100%;
    padding-top: 10%;
    padding-bottom: 20%;
}

#testo-musulmana
{
    width: 75%;
    height: 88%;
    margin: 0px;
    background-image: url(media/contenitore-testo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #000000;
    font-size: 2vw;
    text-align: justify;
    direction: rtl;
    padding-top: 15%;
    padding-left: 20%;
    padding-right: 5%;
}

#motivazioni
{
    background-color: orange;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    border: black;
    border-collapse: collapse;
    padding: 1% 0.5%;
    
}

tr, td
{
    border: black;
    border-style: solid;
}

.parent
{
    color: white;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 99%;
}

.child
{
    height: 100px;
    background-color: orange;
    padding: 30px;
    transform: 
        perspective(800px)
        rotateY(25deg)
        scale(0.9)
        rotateX(10deg);
    filter: blur(2px);
    opacity: 0.5;
    transition: 0.6s ease all;
}
.child:hover
{
    transform:
    perspective(800px)
    rotateY(-15deg)
    translateY(-50px)
    rotateX(10deg)
    scale(1);
    filter: blur(0);
    opacity: 1;
}

.img-regole-mediaset
{
    display:inline;
    height: inherit;
}

.testo-regole-mediaset
{
    display: inline;
    font-size: 200%;
    padding-right: 2%;
}

#Fake-off
{
    display: grid;
    grid-template-columns: 7fr 3fr;
    height: fit-content;
}

#img-fake-off
{
    width: 100%;
}

#testo-fake-off
{
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 2%;
    text-align: justify !important;
    text-justify: inter-word;
}

#Giornale
{
    width: 100%;
}

#contenitore-giornale
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#testo-giornale
{
    font-family: Calibri;
    color: white;
    margin-left: 2%;
    margin-right: 5%;
    font-size: 2vw;
    text-align: justify;
}